<div class="well board" data-cid="{{board.cid}}">
  <i class="icon-remove pull-right delete"></i>
  <i class="icon-pencil pull-right"></i>
  <p>{{board.attributes.alias}}</p>
  <p>{{board.attributes.title}}</p>
  <p>{{board.attributes.description}}</p>
</div>