<div class="posts-container">
  <form class="post-create form-horizontal">
    <fieldset>
      <legend>Create post</legend>
      <div class="control-group">
        <label class="control-label" for="post-title">Title</label>
        <div class="controls">
          <input id="post-title"
            name="title"
            type="text"
            placeholder="Title"
            class="input-xlarge"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="post-description">Description</label>
        <div class="controls">
          <input id="post-description"
            name="description"
            type="text"
            placeholder="Description"
            class="input-xlarge"/>
        </div>
      </div>
      <div class="form-actions">
        <input class="btn btn-primary post-create-submit" type="submit" value="Create post"/>
      </div>
    </fieldset>
  </form>
  <div class="posts"></div>
</div>
