<div class="threads-container">
  <form class="thread-create form-horizontal">
    <fieldset>
      <legend>Create thread</legend>
      <div class="control-group">
        <label class="control-label" for="thread-title">Title</label>
        <div class="controls">
          <input id="thread-title"
            name="title"
            type="text"
            placeholder="Title"
            class="input-xlarge"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="thread-description">Description</label>
        <div class="controls">
          <input id="thread-description"
            name="description"
            type="text"
            placeholder="Description"
            class="input-xlarge"/>
        </div>
      </div>
      <div class="form-actions">
        <input class="btn btn-primary thread-create-submit" type="submit" value="Create thread"/>
      </div>
    </fieldset>
  </form>
  <div class="threads"></div>
</div>
