config = {api: {}}

production = yes

config.api.root = if production
  'http://192.168.1.35:8080'
else
  'http://192.168.1.35:8080'

config.api.versionRoot = config.api.root + '/v1'

module.exports = config